/* SELETOR * SELECIONA TODOS OS ELEMENTOS  
    CSS - Cascading Style Sheets (Folhas de estilo em cascata)
*/

h1 {
        color: blue;
        background: black;
    }
    p{
        color: blue;
        font-size: 20px;
    }

    button {
        background: green;
        border-color: darkgreen;
    } 


    /* ID é uma identificação unica, para cada elemento, utiliza #*/
#titulo {
    color: red;
    font-size: 55px;
}

#paragrafo {
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

#botao{
    background: green;
}

#outro-botao{
    background: chocolate;
}

/* CLASS é como se fosse o CEP de uma rua, vários elementos podem ter a mesma class*, utiliza . */

.texto{    /* Posso colocar virgula e colocar todas as classes e aplicar o mesmo estilo para todos*/
    color: red;
    font-weight: bold;
}

.botao{
    background: blue;
}


