
        

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

H1{
    color: red;
    font-size: 64px;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-shadow: 10px 10px 10px #ff0000; /* Coloca sombra no texto */
}
p{
    color: blue;
    font-size: 30px;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    letter-spacing: 10px;
    text-align: justify;
    text-transform: capitalize; /*Capitalize deixa a primeira letra maiuscula*/
    text-shadow: 10x 10x 10x #ff0000; 
}
