
/* PADDING E MARGIN*/

.box{
    width: 50px;
    height: 50px;
    background: #ff1493;
    margin-bottom: 50px; /*É o espaçamento externo*/
    padding: 50px;
}

.box-2{
    width: 50px;
    height: 50px;
    background: #9932cc;
    margin-bottom: 50px;
    padding: 30px;
}
/* margin: 10px 50px 30px 5px
           12h  15h  18h  21h  
           Atalho do relógio
           
           Quando quiser o mesmo valor na direita e na esquerda é só colocar 3 valores
           margin: 10px 50px 30px exemplo

           Quanto tem dois valores é aplicado em cima e embaixo
           e o outro valor é dos lados
           */

         